<!DOCTYPE html>
<html>

<head>
    <title>Create Product</title>
    <style>
        body {
            background-color: green;
            color: black;
        }
        
        .container {
            text-align: center;
            color: black;
            padding-top: 90px;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Create Product</h1>
    <form class="container" method="POST">
        <input type="text" name="image" placeholder="Image URL" required>
        <input type="text" name="name" placeholder="Product Name" required>
        <textarea name="description" placeholder="Description" required style="margin-bottom: -12px;"></textarea>
        <button type="submit">Create</button>
    </form>
</body>

</html>